<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Title</title>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $(".btn-return").on("click", function() {
        var rentalId = $(this).data("rental-id");
        if (confirm("반납하시겠습니까?")) {
          $.ajax({
            type: "DELETE",
            url: "/api/rental/" + rentalId,
            success: function() {
              // 요청이 성공적으로 완료되었을 때 수행할 작업 (예: 해당 로우 삭제 등)
              alert("반납이 완료되었습니다.");
              location.reload(); // 요청이 성공한 후 페이지를 새로고침하여 변경사항 반영
            },
            error: function() {
              // 요청이 실패했을 때 수행할 작업
              alert("반납 요청을 처리하는데 실패했습니다.");
            }
          });
        }
      });
    });
  </script>

</head>
<body class="container-fluid">
<h1>Rental Books</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-start">
  <a th:href="@{/}" class="btn btn-primary me-md-2" type="button">Home</a>
</div>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th scope="col">제목</th>
    <th scope="col">저자</th>
    <th scope="col">반납까지 남은 시간</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="rental: ${rentals.responses()}">
    <td th:text="*{rental.title()}"></td>
    <td th:text="*{rental.author()}"></td>
    <td th:text="*{rental.remainingTime()}"></td>
    <td>
      <button th:attr="data-rental-id=${rental.rentalId}" class="btn btn-danger btn-return" type="button">반납</button>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>